* {
  box-sizing: border-box;
}

.LoginPage__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPage__screen-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.LoginPage__login-section {
  margin: 51px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a, a:visited {
  color: #00acdf;
}

a:hover {
  color: #32527B;
}